<h1>Welcome to Awesome Answers</h1>

<%# Add inline styles using a hash with :style as a key %>
<%# image_tag 'nyan_cat.gif', style: "width: 1000px; height: 100px;" %>

<%# Style using app/assets/stylesheets/application.css %>
<%= image_tag 'nyan_cat.gif', class: "home-image" %>